<odoo>
    <!-- Menú principal -->
    <menuitem id="menu_gestion_root" name="Gestión de Vehículos" sequence="10"/>
    
    <!-- Categoría Flota -->
    <menuitem id="menu_gestion_flota_cat" name="Flota" parent="menu_gestion_root" sequence="10"/>
    <menuitem id="menu_gestion_vehiculo_list" name="Vehículos" parent="menu_gestion_flota_cat" action="action_gestion_vehiculos" sequence="1"/>
    <menuitem id="menu_gestion_marca_list" name="Marcas" parent="menu_gestion_flota_cat" action="action_gestion_marcas" sequence="2"/>
    <menuitem id="menu_gestion_historial_list" name="Historial de Uso" parent="menu_gestion_flota_cat" action="action_gestion_historial_vehiculo" sequence="3"/>
    
    <!-- Categoría Incidencias -->
    <menuitem id="menu_gestion_incidencias_cat" name="Incidencias" parent="menu_gestion_root" sequence="20"/>
    <menuitem id="menu_gestion_multa_list" name="Multas" parent="menu_gestion_incidencias_cat" action="action_gestion_multa" sequence="1"/>
</odoo>